* {
  margin: 0;
  background-color: #ece5d2;
  font-family: "alata";
  box-sizing: border-box;
}

*:focus{
  outline: none;
}

main{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 30rem;
  margin-top: 5rem;
}

header {
  color: #943729;
}

form {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

form > input {
  background-color: white;
  border: none;
  min-height: 2rem;
  width: 15rem;
  margin-right: 1rem;
}

form > button {
  border: none;
  min-height: 2rem;
  min-width: 2rem;
  cursor: pointer;
  background-color: white;
  transition: 0.3s
}

form > button:hover{
  background-color: rgb(39, 39, 39);
  color: white;
}


li {
  height: auto;
  min-height: 1rem;
  height: auto;
  display: flex;
  min-width: 20.5rem;
  max-width: 20.5rem;
  justify-content: space-between;
  background-color: white;
  list-style: none;
  margin: 0.5rem;
  height: 1.5rem;
  word-wrap: break-word;
  overflow-wrap: anywhere;
}

li > .right-group> button{
  background-color: rgb(158, 158, 158);
  border: none;
  color: rgb(255, 255, 255);
  width: 1.5rem;
  height: 1.5rem;
  cursor: pointer;
    transition: 0.3s
}


li > .right-group > button:hover{
  background-color: rgb(39, 39, 39);
  color: white;
}

.cross-addon{
  text-decoration: line-through;
  color: rgb(197, 197, 197);
}